/* loginPage */
.login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 50%;
}

.signUp, .signIn {
  color: #585858;
  text-decoration-color: #585858;
}


/* LandingPage */
.header {
  margin-left: 90px;
}

.header-title, .header-menu  {
  color: #585858;
  font-weight: bolder;
  text-decoration: none;
}

.header-menu  {
  text-decoration: none;
  margin-left: 30px;
}

.header-info {
  padding-top: 45px;
  font-weight: bolder;
  color: #585858;
  text-align: center;
}

.logo {
  text-decoration: none !important;
}

.card {
  text-decoration-line: none;
}

.card-title, .card-text {
  color: #585858;
  font-weight: bolder;
}

.create {
  margin: 1rem 0;
}

.copyright {
  width: 100%;
  padding: 0;
  margin-top: 5em;
  list-style: none;
  font-size: 0.8em;
  color: rgba(88, 88, 88, 0.5);
  text-align: center;
}

.copyright a {
  color: inherit;
}

.copyright li {
  display: inline-block;
  border-left: solid 1px rgba(88, 88, 88, 0.15);
  line-height: 1;
  padding: 0 0 0 1em;
  margin: 0 0 0 1em;
}

.copyright li:first-child {
  border-left: 0;
  padding-left: 0;
  margin-left: 0;
}
